
.env
.venv/
venv/
env/

api.txt
code.txt
AI_grader.py
codewriter.py
setup_architecture.cmd


data/uploads/
data/results/
data/vector_store/
*.log

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db
*.zip